.floater{
    width: 380px;
    height: 260px;
   background-color:white;
    position: fixed ;
    top:380px;
    left :580px;
    animation-name: example;
    animation-duration: .5s;
    border:7px solid white;
    display: none;
    
}
@keyframes example {
    0%   {background-color:white; left:580px; top:600px;}
   
  
    100% {background-color: white; left:580px; top:380px;}
  }
  .float{
      display:inline-block;
  }
  
  
  .crossIcon {
    display:inline-block;
    position:relative;
    top:10px;
    width:85px;
    height:85px;
    border: 7px solid white;
    transform:rotate(45deg);
    background:
      linear-gradient(rgb(143, 141, 141),#fff),
      linear-gradient(#fff,#fff),
      #1274FC
      ;
    background-position:center;
    background-size: 50% 4px,4px 50%; /*thickness = 2px, length = 50% (25px)*/
    background-repeat:no-repeat;
    border-radius:50%;
  }
 
  .heading{
    text-align: left;
    margin-left:-25px;
  }
  .box{
    text-align: left;
    margin-top:40px;
  }
  .files ,.form ,.quote,.documents{
    padding:5px;
  }
  @media(width:670px){
    .floater{
      width: 380px;
      height: 230px;
     background-color:white;
      position: fixed ;
      top:430px;
      left :145px;
      animation-name: example;
      animation-duration: .5s;
      border:7px solid white;
      display: none;
      
  }
  @keyframes example {
      0%   {background-color: rgba(206, 240, 195, 0.801); left:145px; top:600px;}
     
    
      100% {background-color: rgba(206, 240, 195, 0.801); left:145px; top:430px;}
    }
    .float{
        display:inline-block;
    }
    
    .crossIcon {
      display:inline-block;
      position:relative;
      top:70px;
      width:85px;
      height:85px;
      border: 7px solid white;
      transform:rotate(45deg);
      background:
        linear-gradient(rgb(143, 141, 141),#fff),
        linear-gradient(#fff,#fff),
        #1274FC
        ;
      background-position:center;
      background-size: 50% 4px,4px 50%; /*thickness = 2px, length = 50% (25px)*/
      background-repeat:no-repeat;
      border-radius:50%;
    }
   
    .heading{
      text-align: left;
      margin-left:-25px;
    }
    .box{
      margin-top:40px;
    }
    .file ,.form ,.quote{
      padding:40px;
    }
  }




@media( max-width:670px){
  .floater{
    width: 380px;
    height: 230px;
   background-color:white;
    position: fixed ;
    top:521px;
    left :10px;
    animation-name: example;
    animation-duration: .5s;
    border:7px solid white;
    display: none;
    
}
@keyframes example {
    0%   {background-color: rgba(206, 240, 195, 0.801); left:10px; top:680px;}
   
  
    100% {background-color: rgba(206, 240, 195, 0.801); left:10px; top:521px;}
  }
  .float{
      display:inline-block;
  }
}